body{
	background: #e5e0e0;
}

#header{
	position:fixed;
	width: 100%;
	z-index: 100;
}
#clear{
	padding-top: 35px;
}

#content{
	background: #fff;
	padding: 15px 0 ;
}
.navbar{
	border-radius: 0;
	margin: 0;
}

#jumboHome{
	box-shadow: 0 0 15px black; 
	background: url("../_img/desertroad.jpg") ;
	background-size: cover; 
	color: white;
	margin: 0;
}

#about{
	padding: 30px;
	margin-top:20px;
	text-ident: justfy;
}

#footer{
	border-top: 1px solid #e5e0e0; 
	padding-top: 10px;
}

span.input-group-addon:first-child{
	width:100px;
}

#carro_list > h1, #carro_list > h2{
	margin: 0;
	padding: 0;
}

#carro_list > h1{
	text-transform:uppercase;
}

#carro_list{
	box-sizing: border-box;
	padding: 0.3em;
	background: #f0f0f0;
	box-shadow: 0 1px 6px grey;
	margin-top: 1.3em;
	position: relative;
}

#carro_list:HOVER{
	background: #CED4D0;
}

.car_img{
	width: 100%;
	position: static;
}

.loginBox{
	text-align: center;
	width: 400px;
	margin: 10px auto;
}
.loginBox .input-group{
	width: 330px;
}

.carrosBox{
	text-align: center;
	margin: 10px auto;
}

.ui-icon-sigin{
	background-image: url("#{resource['../_img/icon/ic_input_black_48dp.png']}");
}

.grade_botoes tr, .botoes_form td{
	display: inline-block;
	margin-right: 5px;
}

.adm_actions button{
	margin: 0 5px 5px 0;
	padding-top: 5px;
}
.adm_actions button span{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}