
.navbar{
	border-radius: 0;
	margin: 0;
}

#jumboHome{
	background: url("../_img/desertroad.jpg") ;
	background-size: cover; 
	color: white;
}

#about{
	padding: 30px;
	margin-top:20px;
	text-ident: justfy;
}